<meta
  name="robots"
  content="index, follow, noodp, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
>
<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
  rel="icon"
  type="image/svg+xml"
  crossorigin="anonymous"
  href="/logo.svg"
>
<link rel="sitemap" href="/sitemap.xml" />
<meta name="geo.region" content="US-OH">
<meta name="author" content="Matt Waler">
<meta name="publisher" content="Matt Waler">
<meta name="copyright" content="Matt Waler">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:url" content="https://mattwaler.com">
<meta property="og:type" content="website">
<meta
  property="og:image"
  content="{{ ogImage ?? 'https://mattwaler.com/masonry/masonry-5.jpg' }}">
<meta property="og:image:width" content="576">
<meta property="og:image:height" content="384">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="mattwaler.com">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="abstract" content="{{ description }}">
