---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Waves from '../components/Waves.astro'
import Tailwind from '../components/icons/Tailwind.astro'
import Alpine from '../components/icons/Alpine.astro'
import AstroIcon from '../components/icons/AstroIcon.astro'
import Nextjs from '../components/icons/Nextjs.astro'
import Typescript from '../components/icons/Typescript.astro'
import Swift from '../components/icons/Swift.astro'
import Statamic from '../components/icons/Statamic.astro'
import Laravel from '../components/icons/Laravel.astro'
import projects from '../data/projects.js'
import ProjectCard from '../components/ProjectCard.astro'
import BlogCard from '../components/BlogCard.astro'

const masonry = [
  'masonry-8.jpg',
  'forehand.mp4',
  'masonry-10.jpg',
  'masonry-4.jpg',
  'masonry-2.jpg',
  'masonry-1.jpg',
  'bench.mp4',
  'masonry-3.jpg',
  'serve.mp4',
  'masonry-9.jpg',
  'masonry-5.jpg',
]

const tools = [
  { name: 'Tailwind', Icon: Tailwind },
  { name: 'Alpine', Icon: Alpine },
  { name: 'Astro', Icon: AstroIcon },
  { name: 'Next.js', Icon: Nextjs },
  { name: 'TypeScript', Icon: Typescript },
  { name: 'Swift', Icon: Swift },
  { name: 'Statamic', Icon: Statamic },
  { name: 'Laravel', Icon: Laravel },
]

const allPosts = await getCollection('blog')
const recentPosts = allPosts
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3)

const recentProjects = projects.slice(0, 3)
---

<Layout
  title="Matt Waler builds websites, iOS apps, and plays a ton of tennis."
  description="Matt Waler is a web and iOS developer based in Ohio."
>
  <!-- Hero -->
  <Hero
    title="I develop websites, iOS applications, and"
    titlePhrases={[
      'play far too much Tennis.',
      'listen to too much mgk.',
      'overly update my website.',
      'order too much Chipotle.',
    ]}
    description="I also have a wife, a french bulldog, and an obsession with pragmatism."
  />

  <!-- Skills -->
  <Waves />
  <section class="relative z-2 bg-white section bg-linear-to-b from-blue-950 to-blue-600">
    <div>
      <div class="container md:text-center text-balance">
        <h2 class="h2 text-white">What does Matt Waler do?</h2>
        <h3 class="h5 text-blue-200 mt-4">Oh, you want to talk shop? Let's get right to it.</h3>
      </div>
      <div class="container text-base mt-12 text-balance md:text-center md:max-w-3xl mx-auto">
        <p class="text-lg text-blue-200">Whether it's a static website or a full-blown iOS application, I'm all about taking ideas and turning them into something tangible. I pride myself on keeping my code simple, practical, and easy to maintain, resorting to complexity only when absolutely necessary.</p>
      </div>
      <div class="overflow-hidden w-full mt-16">
        <div class="flex w-max animate-marquee">
          {[...tools, ...tools, ...tools, ...tools].map(({ name, Icon }) => (
            <div class="flex flex-col items-center gap-2.5 w-20 mr-16">
              <Icon class="size-12 text-white" />
              <p class="text-xs text-blue-100 font-mono text-center">{name}</p>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>

  <!-- Masonry -->
  <Waves rotate foreground="#155dfc" />
  <section class="bg-white section space-y-12 md:space-y-24">
    <div class="container text-balance md:text-center">
      <h2 class="h2">Who is Matt Waler?</h2>
      <h3 class="h5 mt-3 text-gray-600">
        They always say to show, not tell.
      </h3>
    </div>
    <div
      class="grid grid-cols-[repeat(auto-fill,minmax(120px,1fr))] md:grid-cols-[repeat(auto-fill,minmax(280px,1fr))] container max-w-none gap-3 md:gap-5 grid-rows-[masonry]"
      x-init="new window.Masonry($el)"
    >
      {masonry.map(asset => (
        asset.endsWith('.mp4') ? (
          <video
            x-data="{ show: false }"
            x-intersect:enter.threshold.75="show = true"
            :class="show ? 'opacity-100' : 'opacity-0'"
            class="rounded-xl transition-opacity duration-500 pointer-events-none"
            autoplay muted playsinline loop src={`https://mattwaler.nyc3.cdn.digitaloceanspaces.com/MW/masonry/${asset}`}
          ></video>
        ) : (
          <img
            x-data="{ show: false }"
            x-intersect:enter.threshold.75="show = true"
            :class="show ? 'opacity-100' : 'opacity-0'"
            src={`https://mattwaler.nyc3.cdn.digitaloceanspaces.com/MW/masonry/${asset}`}
            loading="lazy"
            class="rounded-xl transition-opacity duration-500"
            alt=""
          />
        )
      ))}
    </div>
  </section>


  <!-- Projects -->
  <Waves foreground="#f3f4f6" />
  <section class="section bg-linear-to-b from-gray-100 to-white">
    <div class="container">
      <div class="md:text-center text-balance">
        <h2 class="h2">What is Matt Waler building?</h2>
        <h3 class="h5 mt-3 text-gray-600">
          Take a gander at my most recent projects.
        </h3>
      </div>
      <div class="grid grid-cols-1 xl:grid-cols-3 gap-12 mt-12">
        {recentProjects.map(project => (
          <ProjectCard project={project} />
        ))}
      </div>
      <div class="mt-12 md:text-center">
        <a href="/projects/" class="button">View All Projects</a>
      </div>
    </div>
  </section>

  <!-- Blog -->
  <Waves foreground="#162456" background="white" />
  <section class="bg-linear-to-b from-blue-950 to-blue-600 section">
    <div class="container">
      <div class="md:text-center text-balance text-white">
        <h2 class="h2">What is Matt Waler thinking?</h2>
        <h3 class="h5 mt-3 opacity-80">
          Thoughts, tutorials, and the occasional rant.
        </h3>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 mt-12">
        {recentPosts.map(post => (
          <BlogCard post={post} />
        ))}
      </div>
      <div class="mt-12 md:text-center">
        <a href="/blog/" class="button">View All Posts</a>
      </div>
    </div>
  </section>
  <Waves rotate foreground="#155dfc" />

</Layout>
