---
import { Image } from 'astro:assets'

const {
  class: divClass = '',
  src,
  alt = '',
  width = undefined,
  height = undefined,
  widths = undefined,
  sizes = undefined,
} = Astro.props
---

<div
  class:list={[divClass, 'relative overflow-hidden']}
  x-data="{ showBlur: !$refs.image.complete }"
>
  <div
    class="absolute inset-0 size-full z-10"
    x-show="showBlur"
    x-transition.opacity.duration.100ms
  >
    <Image
      width={25}
      height={25}
      quality={50}
      format="webp"
      loading="eager"
      alt=""
      src={src}
      class="object-cover object-center absolute inset-0 size-full"
    />
  </div>
  <Image
    format="webp"
    x-ref="image"
    @load="() => showBlur = false"
    src={src}
    width={width}
    height={height}
    widths={widths}
    sizes={sizes}
    alt={alt}
    loading="lazy"
    class="object-cover object-center absolute inset-0 size-full z-0"
  />
</div>
