---
import { Picture } from 'astro:assets'
import ProfilePicture from '../assets/headshot.jpg'

const profile = {
  name: 'Matt Waler',
  title: 'Senior Web & iOS Developer',
  location: 'Ohio, USA',
  description:
    'I care deeply about writing code that’s simple, pragmatic, and easy to read—no unnecessary complexity.',
}
---

<div class="flex flex-col items-center gap-6 sm:items-start">
  <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
    <Picture
      src={ProfilePicture}
      formats={['webp']}
      width={256}
      height={256}
      alt={'Profile picture ' + profile.name}
      title={profile.name}
      class="border-primary mx-auto h-24 w-24 rounded-xl border-3 object-cover sm:mx-0"
    />
    <div>
      <h1
        class="text-text-primary relative mb-1 inline-block text-2xl font-extrabold"
      >
        {profile.name}
      </h1>
      <p class="text-primary mb-2 text-sm">
        {profile.title}
      </p>
      <p
        class="flex items-center justify-center text-sm text-gray-400 sm:justify-start"
      >
        <svg
          class="-mt-0.5 mr-2 inline"
          fill="none"
          height="14"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          width="14"
          xmlns="http://www.w3.org/2000/svg"
          ><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"
          ></path><circle cx="12" cy="10" r="3"></circle></svg
        >
        {profile.location}
      </p>
    </div>
  </div>
  <div>
    <p class="mt-4 text-sm leading-relaxed text-gray-400">
      Hi, I’m Matt Waler, a developer and software engineer based in Ohio. I
      focus on building clean, maintainable web and mobile apps using tools like
      React, Next.js, React Native, TailwindCSS, and Swift.
    </p>
    <p class="mt-4 text-sm leading-relaxed text-gray-400">
      I care deeply about writing code that’s simple, pragmatic, and easy to
      read, with no unnecessary complexity.
    </p>
  </div>
</div>
