---
title:
  Projects Matt Waler has built since 2016.
description:
  Professional websites and iOS apps built for performance, scalability, and user experience — built to meet client and developer needs.
---

{% extends "_includes/layout.twig" %}

{% block body %}
  <section
    class="
      py-32 flex items-center justify-center
      text-white bg-linear-to-b from-blue-600 to-blue-950 to-90%
    "
  >
    <div class="container md:text-center">
      <div class="space-y-6 overlap">
        {# Reserve Space #}
        <div class="space-y-6 w-full max-w-3xl mx-auto">
          <h1 class="h1 text-balance">
            See what I've built.
          </h1>
          <p class="h6 text-blue-200 text-balance">
            I have built a lot of websites and mobile applications since I started
            back in 2016. Listed below is a non-exhaustive representation of what I
            have developed and deployed.
          </p>
        </div>
      </div>
    </div>
  </section>

  {% include '_includes/icons/waves.twig' with { class: "text-blue-950 bg-gray-100 -mt-1 border-b border-gray-100" } %}

  <section class="py-24 bg-linear-to-b from-gray-100 to-white">
    <div class="container grid items-start grid-cols-1 sm:grid-cols-2 gap-12">
      {% for project in projects %}
        <article class="bg-white rounded-xl shadow-xl overflow-clip w-full">
          <img
            width="1200"
            height="945"
            loading="lazy"
            class="aspect-1200/975 w-full h-auto bg-gray-200"
            src="/projects/{{ project.title|lower|replace({ ' ': '-' }) }}.webp"
            alt=""
          >
          <div class="p-8 space-y-2 border-t-2">
            <span class="block text-sm">
              {{ project.tools|join(', ') }}
            </span>
            <h2 class="h4 text-pretty">
              <a
                href="{{ project.link }}"
                target="_blank"
                rel="noopener noreferrer"
                class="block font-bold hover:text-blue-600 transition-colors"
              >
                {{ project.title }}
              </a>
            </h2>
            <p class="text-pretty">{{ project.description }}</p>
            {% if project.trendy %}
              <span class="block text-sm italic">
                Completed while employed at <a href="https://trendyminds.com">TrendyMinds</a>.
              </span>
            {% endif %}
          </div>
        </article>
      {% endfor %}
    </div>
  </section>

{% endblock %}
