---
import '@/styles/global.css'

const { meta } = Astro.props
---

<!doctype html>
<html lang="en" class="text-gray-950 bg-white dark:bg-gray-950 dark:text-white">
  <head>
    <meta
      name="robots"
      content="index, follow, noodp, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta name="revisit-after" content="7 days" />
    <meta name="revisit" content="after 7 days" />
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Pragma" content="cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/svg+xml"
      crossorigin="anonymous"
      href="/assets/logo.svg"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={Astro.url} />
    <meta name="geo.region" content="US-OH" />
    <meta name="author" content="Matt Waler" />
    <meta name="publisher" content="Matt Waler" />
    <meta name="copyright" content="Matt Waler" />
    <meta property="og:title" content={meta.title} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:url" content="https://mattwaler.com" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content={meta.ogImage ?? 'https://mattwaler.com/assets/meta.png'}
    />
    <meta property="og:image:width" content="1100" />
    <meta property="og:image:height" content="800" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="mattwaler.com" />
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <meta name="abstract" content={meta.description} />
  </head>
  <body class:list={['', { 'debug-screens': import.meta.env.DEV }]} x-data>
    <slot />
  </body>
</html>
