---
import '@/styles/global.css'

import Intro from '@/components/Intro.astro'
import Socials from '@/components/Socials.astro'
import Headshot from '@/components/Headshot.astro'
import Terminal from '@/components/Terminal.astro'
import NavLink from '@/components/NavLink.astro'
import Menu from '@/assets/menu.svg'
import Close from '@/assets/close.svg'

const { meta } = Astro.props

const links = [
  { url: '/', name: 'home.html' },
  { url: '/contact/', name: 'contact.html' },
  { url: '/projects/', name: 'projects.html' },
  { url: '/blog/', name: 'blog.html' },
]
---

<!doctype html>
<html lang="en">
  <head>
    <meta
      name="robots"
      content="index, follow, noodp, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta name="revisit-after" content="7 days" />
    <meta name="revisit" content="after 7 days" />
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Pragma" content="cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/svg+xml"
      crossorigin="anonymous"
      href="/assets/logo.svg"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={Astro.url} />
    <meta name="geo.region" content="US-OH" />
    <meta name="author" content="Matt Waler" />
    <meta name="publisher" content="Matt Waler" />
    <meta name="copyright" content="Matt Waler" />
    <meta property="og:title" content={meta.title} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:url" content="https://mattwaler.com" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content={meta.ogImage ?? 'https://mattwaler.com/assets/meta.png'}
    />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="1000" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="mattwaler.com" />
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <meta name="abstract" content={meta.description} />
  </head>
  <body
    class:list={[
      'flex items-center justify-center pb-16 p-4 lg:pb-4 lg:h-screen lg:w-screen lg:overflow-hidden',
      { 'debug-screens': import.meta.env.DEV },
    ]}
    x-data
  >
    <!-- Code Editor -->
    <div
      class="relative grid w-full flex-1 grid-cols-1 grid-rows-[40px_1fr] overflow-hidden rounded-2xl border border-gray-600 bg-black shadow-2xl md:max-w-2xl lg:h-[calc(100vh-4rem)] lg:max-w-6xl lg:grid-cols-[340px_1fr]"
    >
      <!-- Top Navigation Bar -->
      <div
        class="px-base flex items-center justify-start gap-2 border-b border-gray-600 lg:col-span-2"
      >
        <div class="size-3 rounded-full bg-red-500"></div>
        <div class="size-3 rounded-full bg-yellow-500"></div>
        <div class="size-3 rounded-full bg-green-500"></div>
        <button
          class="ml-auto lg:hidden"
          x-cloak
          @click="$store.isNavOpen = !$store.isNavOpen"
          aria-label="Toggle site navigation"
        >
          <span x-show="!$store.isNavOpen">
            <Menu />
          </span>
          <span x-show="$store.isNavOpen">
            <Close />
          </span>
        </button>
      </div>
      <!-- Sidebar/Header -->
      <aside
        class="flex h-full flex-1 flex-col gap-6 overflow-y-auto border-b border-gray-600 px-base py-6 lg:border-r lg:border-b-0 lg:py-8"
      >
        <Headshot />
        <div class="hidden lg:block">
          <Intro />
        </div>
        <div x-cloak class="mt-auto hidden lg:block">
          <Terminal />
        </div>
        <div class="hidden lg:block">
          <Socials />
        </div>
      </aside>
      <!-- Navigation & Page Content -->
      <div class="overflow-y-auto p-0">
        <header
          x-cloak
          class="sticky top-0 z-10 flex flex-none flex-col overflow-x-auto border-b border-gray-600 bg-black lg:flex-row"
          :class="!$store.isNavOpen && 'hidden lg:flex'"
        >
          {
            links.map((link) => (
              <NavLink href={link.url} name={link.name} />
            ))
          }
        </header>
        <main class="max-h-full px-base pt-8 lg:pt-12">
          <slot />
          <div class="h-8 lg:h-12"></div>
        </main>
        <div class="flex flex-col gap-6 border-t border-gray-600 p-8 lg:hidden">
          <Intro />
          <Socials />
          <div>
            <button
              @click="window.scrollTo(0,0)"
              class="text-code-green font-bold">Back to top</button
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
